<div class="vw-100 vh-100 d-flex align-items-center justify-content-center ">

  <div class="w-75 h-75 border p-5">
    <div class="d-flex justify-content-center">
      <div class="link p-2 border-bottom" routerLink="/auth/login"    routerLinkActive="border-bottom"> <strong>Login</strong></div>
      <div class="link p-2" routerLink="/auth/registro" routerLinkActive="border-bottom"> <strong>Registrarse</strong></div>
    </div>

    <div>
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
