<div class="chat vw-100 vh-100">
  <div class="chat_user m-0 row w-100 h-100">

    <!-- CONTENEDOR PARA LOS USUARIOS CONECTADOS -->
    <app-tabs-users  class="listado_user d-md-inline h-100 col-md-4 col-lg-3 p-0"></app-tabs-users>

    <!-- CONTENEDOR DEL CHAT -->
    <app-c-chat (activar)="regresar($event)" [friend]="friendChat" [class.d-md-inline]="!active" class="d-none p-2 h-100 col-md-8 col-lg-9"></app-c-chat>

    <!-- PERFIL DEL USUARIO -->
    <app-perfil  [class.d-md-inline]="active" class="d-none p-2 h-100 col-md-8 col-lg-9"></app-perfil>
  </div>
</div>
